* {
  box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, tomato, darkkhaki);
    flex-wrap: wrap;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  height: 100%;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin-top: 50px;
    width: 80%;
    height: 30%;
    display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    border-radius: 10px;
    color: white;
}

.positioning{
    margin-left: -5%;
    margin-top:  2%;
}

.position2{
    margin-top: 0% !important;
}


.grow :hover{
    transform: scale(1.3);
    transition: ease 0.5s;
}

.documentation{
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background: rgba(255, 99, 71, 0.9);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

button, input :focus{
    outline: 0;
}

.break{
    display: block;
    white-space: pre;
}

#title {
  text-align: center;
}

#devices {
    text-align: center;
    border: 0.5px solid;
    width: 100%;
    border-radius: 5px;
    border-left: none;
    border-right: none;
}


#devices th {
  text-align: center;
}

.tableDiv{
    display: contents;
    padding: 2px;
}

.renderComponent{
    width: 50%;
}

form{
    padding: 20px;
}

.dropdownDiv{
    display: flex;
}

.dropdown{
    width: 50%;
    margin-left: 11%;
    border-radius: 5px;
    background: bisque;
    margin-top: 5px
}

.css-g1d714-ValueContainer{
    background: bisque;
}

.inputDiv{
    display: flex;
}

input{
    border: none;
    background: bisque;
    width: 50%;
    border-radius: 5px;
    border-bottom: 1px black solid;
    padding: 5px;
    margin-left: 10%;
    font-family: 'Muli', sans-serif;
}

.statusDiv{
    display: flex;
}

.statusDropdown{
    width: 50%;
    margin-left: 9.5%;
    border-radius: 5px;
    background: bisque;
    margin-top:5px
}

.submit{
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 30%;
    margin-left: 25%;
    margin-top: 5%;
    height: 25px;
    background: tomato;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.remove{
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    height: 25px;
    background: tomato;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
